.auth-container {
  max-width: 400px;
  margin: 60px auto;
  background-color: var(--background-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.auth-container h2 {
  text-align: center;
  color: var(--primary-color);
}

.auth-container p {
  text-align: center;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  margin-top: 16px;
  cursor: pointer;
}

.auth-container button:disabled {
  background-color: var(--primary-hover);
  opacity: 0.6;
  cursor: not-allowed;
}

.alt-option {
  text-align: center;
  margin-top: 12px;
}

.alt-option a {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}