<h1>All Users</h1>

<div class="users-header">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name or email" />
</div>

<div class="users-table-container">
  <table class="recent-table">
    <thead>
      <tr>
        <th class="col-name">Name</th>
        <th class="col-email">Email</th>
        <!-- <th class="col-role">Role</th> -->
        <th class="col-status">Status</th>
        <th class="col-joined">Joined</th>
        <th class="col-action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <!-- <td>{{ user.role }}</td> -->
        <td>{{ user.status }}</td>
        <td>{{ user.createdAt | date: 'yyyy-MM-dd' }}</td>
        <td>
          <button class="delete-btn" (click)="permanentlyDeleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="filteredUsers.length === 0" class="no-users">No users found.</div>